name: code
description: snippets of useful code I learned while on the job
meta_description: "code snippets learned on the job"

aboutPage: true

markdown: redcarpet
highlighter: pygments

paginate: 20
baseurl: /code
domain_name: 'http://github.com/kelvintaywl/code'
google_analytics: 'UA-XXXXXXXX-X'
disqus: false
disqus_shortname: 'your-disqus-shortname'

# Details for the RSS feed generator
url:            'http://github.com/kelvintaywl/code'
author:         'Kelvin Tay'

permalink:       /:year/:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
